name: Docker

on:
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      push:
        description: 'Push image to registry'
        required: false
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true

env:
  REGISTRY: docker.io
  IMAGE_NAME: docker.io/ednxops/drydock-backups
  UV_VERSION: 0.10.2

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
          enable-cache: true
          version: ${{ env.UV_VERSION }}

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Setup Tutor
        run: |
          uv run tutor plugins disable indigo mfe
          uv run tutor plugins enable drydock-backups

      - name: Build Docker image
        run: |
          uv run tutor images build backups

      - name: Push Docker image
        if: inputs.push
        run: |
            uv run tutor images push backups
